.main{
    margin-top: 3%;
}
.posts-card:hover{
   cursor: pointer;
   background-color: rgba(128, 128, 128, 0.253)  !important;
}
.pagesDiv{
    justify-content: center;
    text-align: center;
}
.page-nos{
    cursor: pointer;
}
.posts{
    height: 250px;
    overflow-y: auto;
}
.active-page{
    background-color: rgba(128, 128, 128, 0.192);
}
@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .filter-form{
        margin-top: 5px;
        max-width: 100%;
    }
    .userPhoto{
        font-size:2em   ;
    }
    .userCard{
        max-width: 100%;
        margin-top:5px;
    }
    .postsOfuserCard{
        margin-top:15px;

    }
    .posts-card{
        list-style: none;
        margin:6px;
        padding:10px 10px 10px 10px;
        border: 0.5px solid;
    }
}

@media (min-width:481px) {
  
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  
}

@media (min-width:961px) {
   
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    .filter-form{
        margin-top: 0px;
        max-width: 40%;
    }
    .userPhoto{
        font-size:3em   ;
    }
    .userCard{
        max-width:50%;
        margin-top:5px;
    }
    /* big landscape tablets, laptops, and desktops */
  
}

@media (min-width:1281px) {
      /* hi-res laptops and desktops */
}